body{font-size:.9em;background:#eee;line-height:1.5em}
header h1{background:#0F67A1;padding:20px 35px 12px;color:#fff;margin:0 0 0;font-size:1.7em;font-weight:normal}
footer{text-align:right;padding:25px}
a{color:#147}
div#index{width:420px;padding:12px 4px;margin:auto;overflow:hidden;font-size:1.1em}
div#index li{list-style-type:none;float:left;border-left:1px solid #369;padding:1px 10px}
div#index li.f{border:0}
div#index li.sel a{border-bottom:2px solid #147;font-weight:bold}
div#index li a{text-decoration:none;padding:0 5px}
ul{margin:0px 15px;padding:0;color:#333}
li{padding:3px 0}
.row{margin:0;padding:25px;overflow:hidden;background:#fff;border-radius:9px}
sup{color:red}
div.mask{display:none}
img{border:none}
p{color:#333;padding:0;margin:9px 200px 9px 0}
#plugins{float:right;border:0;color:#888;font-family:Verdana;font-size:.7em;padding:0 20px 5px}

#center{margin:0 30px 20px;border-radius:9px;padding:5px 0 25px}
#center h2{padding:4px 15px;margin:20px 0 4px;font-size:1.1em;color:#333}
#center h3{margin:5px 0 7px;color:#333;font-size:1.3em}
#center h4{font-size:1.1em;background:#eee;padding:1px 5px;width:150px;margin-left:20px}
#center div.demo h3{font-size:1em}

dl{margin-left:20px}
dt{font-weight:bold;color:#930}
img.auth{border:1px solid #aaa;padding:1px;float:left;margin:0 10px 0 0}
pre{background:#efd;border-color:#dec;border-style:solid;border-width:1px 1px 1px 5px;color:#333;font-size:1em;padding:12px 20px 8px;width:550px}
pre strong{color:green}
iframe.github{border:0}
.github img,.twitter img{width:24px;vertical-align:middle;padding:7px 3px 0 0}

iframe.twitter-follow-button,iframe.github{vertical-align:middle;}

#fork{position:absolute;right:0;top:0;z-index:2;border:0}
#fork img{width:125px}
#demos{overflow:hidden;width:100%;margin:0 -9px}
#demos iframe{height:90px;width:135px}
#demos ul{list-style-type:none;margin:0;overflow:hidden;padding:25px 15px}
#demos ul li{float:left;line-height:22px;margin:0 5px 0 0;padding:3px 11px}
#demos ul li a{color:#222}
#demos .demo{padding:0 10px}
#demos .demo h3{border-bottom:1px solid #ccc;line-height:25px;height:25px}
/*jqueryUI style redefined*/
.ui-dialog{font-size:.9em}
.ui-corner-all{border-radius:2px}
.ui-widget-header{border:0;margin:-3px;background:#eee;color:#333;font-size:.9em;font-weight:normal;border-bottom:1px solid #ccc}
.ui-dialog .ui-dialog-titlebar{padding:0.2em 0.3em 0.2em 0.5em}

div.growlUI{background:url(../img/check48.png) no-repeat 10px 10px}
div.growlUI h1, div.growlUI h2{color:white;padding:13px 5px 13px 75px;text-align:left}